html,
body {
    width: 100%;
    height: auto;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #0d0d0d;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: auto;
    min-height: 100%;
    padding-bottom: 32px;
}
.wrap{
    width: 100%;
    height: auto;
    max-width: 827px;
    min-height: 100%;
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 1fr 2fr;
    margin: 32px auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    overflow: hidden;
}
aside{
    background-color: #335384;
    padding-bottom: 64px;
}
.ava{
    width: 100%;
    height: auto;
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ava-img{
    width: 50%;
    border-radius: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
.contact h3, .skill h3, .reward h3{
    margin: 8px 0;
    text-transform: uppercase;
}
.menu{
    width: 100%;
}
.item-outer{
    width: inherit;
    height: auto;
    display: inline-flex;
    gap: 20px;
    padding: 8px 32px;
}
.item-outer i, .item-outer span{
    display: inline;
}
.item-outer i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 18px;
    width: auto;
    height: 18px;
    min-width: 18px;
    margin-top: 4px;
}
.item-outer span{
    width: 100%;
    display: flex;
}
.skill, .reward{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    color: #FFF;
}
.dot{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.dot-full div{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
}
.dot-two div:nth-of-type(3), .dot-two div:nth-of-type(4) {
    opacity: 0.5;
}

.dot-three div:nth-of-type(4){
    opacity: 0.5;
}
.reward i{
    margin-top: 8px;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 270px;
    padding: 0 64px;
   
}
.headline hr{
    width: 15%;
    height: 1px;
    margin-left: 0;
    border-radius: 100px;
    background-color: #444440;
    
}
.headline-name{
    font-weight:600;
    font-size: 48px;
    color: #335384;
}
.headline-status{
    font-weight:600;
    font-size: 28px;
    color: #5ba7d1;
}

.content-outer{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 64px;
}
.content-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.content-header{
    color: #5ba7d1;
}
.content-header, .content-outer h4{
    margin: 0;
    text-transform: uppercase;
}
.content-menu{
    list-style: disc;
    padding-left: 24px;
}

